﻿
@{
    ViewBag.Title = "_RouteTable";
}
@*@model  List<System.Data.DataRow>*@

<h4 data-toggle="collapse" data-target="#divRoute" aria-expanded="false" aria-controls="divRoute">New Route <i class="fa"></i></h4>
<div id="divRoute" class="collapse">
    <table class="table table-sm cupid-blue minimal" id="tbRoute">
        <thead>
            <tr>
                <th>GrandTotalStore</th>
                <th>IsHeavyRoute</th>
                <th>IsRouteComplete</th>
                <th>IsSingleRoute</th>
                <th>LastHustle</th>
                <th>MainRoute</th>
                <th>MainRouteStore</th>
                <th>RemainStore</th>
                @*<th>StoreList</th>*@
                <th>SuggestRoute</th>
                <th>TotalQty</th>
            </tr>
        </thead>
        <tbody>
            @*@if (Model.Count() > 0)
                {
                    int countRows = 1;
                    foreach (var a in Model)
                    {
                <tr>
                    <td class="text-center">@a.ItemArray[2]</td>
                    <td class="text-center">
                        <input type="checkbox" class="custom-control-input cbHeavyRoute" @if (a.ItemArray[7].ToString() != "false"){ <text> checked</text>}>
                    </td>
                    <td>
                        <input type="checkbox" class="custom-control-input cbRouteComplete" @if (a.ItemArray[0].ToString() != "false"){ <text> checked</text>}>

                    </td>
                    <td class="text-center">
                        <input type="checkbox" class="custom-control-input cbSingleRoute" @if (a.ItemArray[8].ToString() != "false"){ <text> checked</text>}>
                    </td>
                    <td class="text-center">@a.ItemArray[5]</td>
                    <td class="text-center">@a.ItemArray[1]</td>
                    <td class="text-center">@a.ItemArray[3]</td>
                    <td class="text-center">@a.ItemArray[4]</td>
                    <td class="text-center">@a.ItemArray[9]</td>
                    <td class="text-center">@a.ItemArray[6]</td>
                    <td class="text-center">@a.ItemArray[10]</td>
                </tr>

                        countRows++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center">No data.</td>
                    </tr>
                }*@
        </tbody>
    </table>
</div>