﻿
@{
    ViewBag.Title = "_UnplanRouteTable";
}

<h4 data-toggle="collapse" data-target="#divUnplanRoute" aria-expanded="false" aria-controls="divUnplanRoute">Unplan Route <i class="fa"></i></h4>
<div id="divUnplanRoute" class="collapse">
    <table class="table table-sm cupid-blue minimal" id="tbUnplanRoute">
        <thead>
            <tr>
                <th>Route Code Thunder</th>
                <th>Prefer 1</th>
                <th>Prefer 2</th>
                <th>Prefer 3</th>
                <th>Prefer 4</th>
                <th>Store Code</th>
                <th>Qty</th>
                <th>IsSingleRoute</th>
                <th>Sub Total</th>
                <th>Sub Total 1</th>
            </tr>
        </thead>
        <tbody>
            @*@if (Model.Count() > 0)
                {
                    int countRows = 1;
                    foreach (var a in Model)
                    {
                <tr>
                    <td class="text-center">@a.ItemArray[2]</td>
                    <td class="text-center">
                        <input type="checkbox" class="custom-control-input cbHeavyRoute" @if (a.ItemArray[7].ToString() != "false"){ <text> checked</text>}>
                    </td>
                    <td>
                        <input type="checkbox" class="custom-control-input cbRouteComplete" @if (a.ItemArray[0].ToString() != "false"){ <text> checked</text>}>

                    </td>
                    <td class="text-center">
                        <input type="checkbox" class="custom-control-input cbSingleRoute" @if (a.ItemArray[8].ToString() != "false"){ <text> checked</text>}>
                    </td>
                    <td class="text-center">@a.ItemArray[5]</td>
                    <td class="text-center">@a.ItemArray[1]</td>
                    <td class="text-center">@a.ItemArray[3]</td>
                    <td class="text-center">@a.ItemArray[4]</td>
                    <td class="text-center">@a.ItemArray[9]</td>
                    <td class="text-center">@a.ItemArray[6]</td>
                    <td class="text-center">@a.ItemArray[10]</td>
                </tr>

                        countRows++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center">No data.</td>
                    </tr>
                }*@
        </tbody>
    </table>
</div>
