﻿
@{
    ViewBag.Title = "ReadExcel";
}

<style>
    blockquote {
        background: #B9DFF1;
        margin: 0px 50px 0px 50px;
        padding: 30px 30px 30px 50px;
        color: #4797aa;
        border-radius: 15px;
        font-size: 20px;
        font: bold 0.9em “Comic Sans MS”, verdana;
        line-height: 1.6em;
        box-shadow: 4px 4px 10px #e3e3e3;
        border-left: 9px solid;
        /*position: relative;
        top: 30px;
        z-index: 100;
        border-right: 9px solid;*/
    }
</style>
<blockquote>
    <h4><i class="fa fa-star" aria-hidden="true"></i> Import Route Optimize</h4>
    <p class="m-0">Please import thunder route file!</p>
    <p class="m-0"><code>*<small>Program will read data from row at 2 & column at 1</small></code></p>
</blockquote>
<hr />
<form method="post" action="@Url.Action("SaveImportRoute", "Route")" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="fileRoute">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <p class="m-0 text-right mt-4">
                        <button class="btn btn-primary"><i class="fa fa-floppy-o"></i> Import</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
