﻿@{
    ViewBag.Title = "Home Page";
}

<style>

    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-color: #d3d3d3;
        font-family: 'Oxygen', sans-serif;
    }

    .main {
        margin-top: 70px;
    }
    /*


    h1.title {
        font-size: 50px;
        font-weight: 400;
        color: #076eaf;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }

    img.mon-logo {
        position: relative;
        right: -65px;
    }

    span.mon-logo {
        color: #46b1e5;
        font-size: 36px;
        font-weight: bold;
        position: relative;
        bottom: -44px;
        left: -61px;
        text-transform: uppercase;
        right: 125px;
    }*/

    .input-group-addon {
        position: relative;
        padding-left: 5px;
        background: #ececec;
        padding-right: 5px;
        min-width: 10%;
    }

        .input-group-addon .fa {
            position: absolute;
            top: 30%;
            left: 40%;
        }

    input {
        min-width: 90%;
    }
</style>

<script>
    @if (TempData["Error"] != null)
    {
        <text>alert('@TempData["Error"].ToString()')</text>
    }

    window.location = '@Url.Action("Index", "Route")';

    //$("#frmLogin").validationEngine();
    $("#frmLogin").validate();
</script>

<div class="row main">
    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="mon-logo" src="@Url.Content("~/Images/MON MAIN Logo-SM.png")" />
                        <p class="mb-0 text-right">Route Optimize</p>
                    </div>
                </div>
                <hr />
                <form id="frmLogin" class="form-horizontal" method="post" action="@Url.Action("chkLogin", "Home")">
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control validate[required]" data-validation-engine="validate[required]" required name="username" id="username" placeholder="Enter your Username" @*autocomplete="off"*@ />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" class="form-control validate[required]" data-validation-engine="validate[required]" required name="password" id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-info btn-block login-button">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>